<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand d-md-none" href="#">Logan Cross</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a href="#work">Video</a>
                </li>
                    <a class="navbar-brand d-none d-md-block" href="#">Logan Cross</a>
                <li class="nav-item">
                    <a href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a href="#">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>